
body {
  font-family: Arial, sans-serif;
  background-color: lightskyblue;
  color: #333;
  line-height: 1.5;
}


img.center
   {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 75%;
   }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-top: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}
